// 字体无法选中
.home-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::v-deep .app-container {
  padding: 0;

  .hc-map-container {
    .playground-wrapper {
      height: 400px;
      padding-top: 70px;
      padding-left: 0;
    }
  }
}

::v-deep .feedButton {
  margin-left: 200px;

  .el-select {
    margin-left: 20px;
  }

  #button3 {
    margin-right: 92px;
    margin-left: 632px;
  }

  #button5 {
    margin-right: 12px;
    margin-left: 118px;
  }
}
